* {
    box-sizing: border-box !important;
}
.col, t2 {
    border: 1px solid #bbb !important;
    text-align: left !important;
    padding: 8px !important;
}
h2 {
    font-size: 120% !important;
    margin-left: 10px !important;
    padding: 30px !important;
}